body * {
    box-sizing: border-box;   
}

body {
    margin: 0;
    font: 12px;
    font-family: sans-serif;
}

.nav-top {
    position: fixed;
    background: lightgrey;
    border: solid 1px black;
    width: 100%;
    height: 30px;
    text-align: right;
    margin: 0;
}

.nav-top > p {
    position: absolute;
    left: 10px;
    top: -5px;
}

.nav-top > ul {
    list-style-type: none;


}

.nav-link {
    border: 1px blueviolet solid;
    float: right;
    margin-right: 10px;
    margin-top: -5px;
}

main {
    border: 1px deeppink solid;
  padding-top: 100px;
  margin-left: 50px;

}
form {
    border: green 1px solid;
    padding-left: 40px;
}

label {
    display: block;
    font: 10px;

}

input {
    width: 500px;
    font: 12px;
    border-radius: 15%;
    border: solid grey 1px; 
} 

.main-nav {
    border: green 1px solid; 
    font-size: 0;
    margin-left: none;
}

.main-nav-links {
    
}

.main-nav-links > li {
    border: darkgrey 1px solid;
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    font-size: 12px;
}

.listings {
    border: green 1px solid;
    list-style-type: none;
    
}

.listing {
    font: grey;
}

form img {
    width: 20px;
    height: 20px;
    border: solid grey 1px;
    border-radius: 15%;
}